:root {
  --main-bg-color: #000;
  --text-color: #fff;

  --btn-text-color: #fff;
  --btn-bg-color: #383b3f;


  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: ligtht) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;

    --btn-text-color: #57C4DC;
    --btn-bg-color: #16444f;
  }
}

@media (prefers-color-scheme: black) {
  :root {
    --main-bg-color: #23272F;
    --text-color: #fff;

    --btn-text-color: #fff;
    --btn-bg-color: #383b3f;
  }
}
